.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 75vh;
	max-width: 1000px;
	margin: 0 auto;
}

.form__title {
	font-size: 20px;
	margin-bottom: 10px;
	color: var(--text-gray);
}

.form__input {
	width: 500px;
	border: 1px solid #c9c8c8;
	background: #fff;
	margin: 0 0 5px;
	padding: 15px 35px 15px 15px;
	border-radius: 5px;
}

.btn-submit {
	margin-top: 50px;
	font-size: 0.9rem;
	background: linear-gradient(90deg, #6a82fb, #fc5c7d);
	color: white;
	transition: all 0.3s ease;
	padding: 15px 25px;
	border-radius: 1rem;
	cursor: pointer;
}

.no-account {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px 25px;
}

.no-account a {
	color: var(--text-gray);
	font-size: 13px;
	text-decoration: none;
	cursor: pointer;
}
