/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap");

body {
	/* background: var(--background-nav) */
	color: #3a3a3a;
}

:root {
	/* bg-colors */
	--background-nav: #fff;
	--background: #000000;

	/* Text colors */
	--text-gray: #3a3a3a;
	--text-white: #f3f4f6;

	/* Fonts */
	--font-poppins: "Poppins";
	--font-light: 300;
	--font-regular: 400;
	--font-semibold: 600;
	--font-bold: 700;
	--font-black: 800;

	--font-sm: 14px;
	--font-sd: 18px;
	--font-md: 32px;
	--font-xl: 48px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: var(--font-poppins), sans-serif;
}

/*  ================== HEADER ==================*/

#menu-toggle,
.menu-label {
	display: none;
}

.header {
	background: var(--background-nav);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	position: fixed;
	width: 100%;
	height: 65px;
	z-index: 2;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	gap: 5rem;
}

.navbar__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	font-size: var(--font-sm);
}

.navbar__menu li {
	position: relative;
}

.navbar__menu li a::after {
	position: relative;
}

.navbar__menu li a::after {
	content: "";
	height: 2px;
	width: 100%;
	background-color: #a770ef;

	position: absolute;
	bottom: 0;
	left: 0;

	/* Efecto empieza aca */
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.15s ease;
}

.navbar__menu a:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);
}

.menu-label img {
	width: 10%;
}

.navbar__links {
	color: var(--text-gray);
}

.navbar__icons__loggin,
.navbar__icons__cart {
	display: flex;
	align-items: center;
}

.navbar__icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
}

.navbar__icons__cart,
.navbar__icons__loggin {
	height: 20px;
	cursor: pointer;
}

/*  ================== MAIN ==================*/

main {
	padding-top: 65px;
}

.divisor-main,
.divisor {
	width: 100%;
	background: #fc5c7d; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#6a82fb,
		#fc5c7d
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#6a82fb,
		#fc5c7d
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 25px;
}

.divisor-main {
	position: fixed;
	z-index: 2;
}

/*  ================== HERO ==================*/
#hero {
	width: 100%;
	height: 450px;
	display: flex;
	align-items: center;
	background: var(--background);
	justify-content: center;
	margin: 0 auto;
}

.hero-container {
	background: var(--background);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.hero-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	animation: fadeIn 8s;
	padding: 0px 10px 0px 40px;
}

.hero-info h1 {
	font-size: var(--font-xl);
	font-weight: var(--font-semibold);
	min-width: 50%;

	background: linear-gradient(to top, #6dd5fa, #ffffff);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}

.hero-img {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 50%;
}

.hero-img img {
	width: 100%;
}

.hero-info p {
	font-size: var(--font-sm);
	width: 70%;
	color: var(--text-white);
}

.product-bot {
	background-color: #a770ef;
}

.btn {
	font-size: var(--font-sm);
	color: var(--text-white);
	background-color: #a770ef;
	padding: 8px 20px;
	border-radius: 5px;
}
/*  ================== PRODUCTS ==================*/
#products {
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
	background: var(--background-nav);
	max-width: 1200px;
	margin: 0 auto;
}

.products-container {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	padding: 20px 0px;
	max-width: 1200px;
}

.product {
	background: var(--background-nav);
	padding: 40px 10px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 350px;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-img {
	height: 180px;
	text-align: center;
}

.products-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	padding: 0px 30px;
}

.product-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
}

.product-price span {
	font-weight: var(--font-bold);
	font-size: 1.3rem;
}

.product-price p {
	color: green;
	font-weight: var(--font-semibold);
}

.product-name {
	font-size: var(--font-sm);
	color: var(--text-gray);
	font-weight: var(--font-semibold);
	justify-content: baseline;
	align-items: center;
	padding: 0px 10px;
	height: 50px;
}

/* .product-name p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
} */

.product-bot {
	font-size: var(--font-sm);
	background-color: #a770ef;
	padding: 10px 20px;
	border-radius: 15px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.product-bot img {
	width: 10%;
}

.btn-comprar {
	color: var(--text-white);
	cursor: pointer;
	width: 200px;
}

.product-img img {
	width: 100%;
}

.product4-img,
.product5-img,
.product6-img {
	display: flex;
	justify-content: center;
	height: 180px;
	text-align: center;
}

.product4-img img,
.product5-img img,
.product6-img img {
	width: 85%;
}

/*  ================== BENEFICIOS ==================*/
#beneficios {
	background-color: var(--background-nav);
	padding: 0px 0px 70px 0px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.beneficios-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 100px;
}

#beneficios h3 {
	font-size: var(--font-sm);
}

#beneficios p {
	font-size: var(--font-sm);
	text-align: center;
}

.beneficios__envios,
.beneficios__precio,
.beneficios__garantia,
.beneficios__atencion {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: baseline;
	gap: 10px;
	max-width: 250px;
	height: 230px;
	padding: 10px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#beneficios img {
	width: 50%;
}

/* <!-- CONTACTO --> */

#contacto {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px 0px 50px 0px;
}

.contacto {
	max-width: 800px;
	width: 100%;
	padding: 10px 30px;
	border: 1px solid #c9c8c8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.contacto input {
	width: 100%;
	border: 1px solid #c9c8c8;
	background: #fff;
	margin: 0 0 5px;
	padding: 10px;
	border-radius: 5px;
}

.contacto textarea {
	height: 100px;
	width: 100%;
	border: 1px solid #c9c8c8;
	background: #fff;
	margin: 0 0 5px;
	padding: 15px;
	border-radius: 5px;
}

.contacto button {
	cursor: pointer;
	color: var(--text-white);
	background-color: var(--background);
	padding: 8px 20px;
	border-radius: 8px;
}

/*  ================== FOOTER ==================*/
#footer {
	padding: 10px 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background: var(--background);
	gap: 80px;
	width: 100%;
}

.footer-company {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 400px;
}

.footer-direccion,
.footer-email {
	display: flex;
	gap: 10px;
	align-items: center;
}

.footer-direccion img,
.footer-email img {
	width: 5%;
}

.footer-productos,
.footer-empresa,
.footer-contacto {
	padding: 20px 0px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-links {
	gap: 30px;
}

.footer-links a {
	color: var(--text-gray);
	gap: 30px;
}

.footer-empresa {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 350px;
}
