html {
	scroll-behavior: smooth;
}

/* --- ANIMACIÓN HERO--- */

@media (min-width: 993px) {
	.hero-img img {
		cursor: pointer;
		transition: all 0.5s;
	}

	.hero-img img:hover {
		transform: scale(1.1);
		transition: all 0.5s;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide-right {
	from {
		transform: translateX(100px);
	}

	to {
		transform: translateX(0px);
	}
}

/* Animación hero-img */
.hero-img {
	opacity: 0;
	animation: fadeIn 1s ease-in forwards, slide-right 1.2s ease-in-out;
	animation-delay: 0.2s;
}

/* --- ANIMACIÓN PRODUCTOS--- */

.product img {
	cursor: pointer;
	transition: all 0.5s;
}

.product img:hover {
	transform: scale(1.1);
	transition: all 0.5s;
}

/* --- ANIMACIÓN PRODUCTOS--- */
.btn,
.product-bot {
	cursor: pointer;
}

.btn:hover,
.product-bot:hover {
	background-color: #6f2cc7;
	transition: all 0.5s;
}

/* --- ANIMACIÓN BENEFICIOS--- */

.beneficios-icons img {
	cursor: pointer;
	transition: all 0.5s;
}

.beneficios-icons img:hover {
	transform: scale(1.2);
	transition: all 0.5s;
}
